mixin p-pic
  .p-pic
    .p-pic__inner
      h1.p-pic__title Superior Double Room
      p.p-pic__subtitle Garden view
      .p-pic__btn
        button(type="button").btn.btn--alert Best breakfast
      a(href="#", role="button").p-pic__info 6   
        +icon('camera')
    .p-pic__photo
      img(src="images/item.png", alt="Sofa").p-pic__photo